bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

function/Modules/
function/TimerTrigger/BlobStorage.psm1
function/TimerTrigger/SendEmail.psm1
function/TimerTrigger/Functions.psm1
function/TimerTrigger/Get-NewlyInstalledApps.ps1
function/TimerTrigger/Get-NewlyInstalledApps-v2.ps1
function/TimerTrigger/Get-NewlyInstalledApps-v3.ps1