@{
  EMAIL_FROM                      = "email@domain.tld"
  EMAIL_TO                        = "email@domain.tld"
  STORAGE_ACCOUNT                 = "stacctname"
  STORAGE_CONTAINER_DETECTED_APPS = "detectedapps"
  STORAGE_CONTAINER_NEW_APPS      = "newapps"
  REPORT_DAY_OF_WEEK              = "Monday"
  DAYS_TO_AGGREGATE               = 7
  RETENTION_PERIOD                = 14
  APPS_TO_IGNORE                  = @(
    "Microsoft Office*",
    "Aplikacje Microsoft*",
    "Microsoft 365*",
    "Microsoft OneNote*",
    "Aplicaciones De Microsoft*",
    "Microsoft Visual C++*",
    "Microsoft Edge",
    "Microsoft OneDrive",
    "Microsoft Windows Desktop Runtime*",
    "Microsoft ASP.NET*",
    "Microsoft .NET*",
    "Microsoft Intune Management Extension",
    "Microsoft Support and Recovery Assistant",
    "Microsoft Update Health Tools",
    "Microsoft Teams*",
    "Cirrus Audio Driver",
    "Teams Machine-Wide Installer",
    "Dell*",
    "HP*",
    "Lenovo*",
    "Intel*",
    "NVIDIA*",
    "Realtek*"
  )
}